<html>

<head>
    <%- include('partials/header1.ejs') %>
</head>

<body>
    <%- include('partials/navbar1.ejs') %>
        <div class="content">
            <img src="public/images/Relaxation-Massage-Auckland.webp" alt="Massage">
            <div class="gradient-transparent">

                <h2>Test</h2>
                <div class="gradient-overlay"></div>
                <p>Massage therapy offers numerous benefits, including stress relief, pain reduction, improved
                    circulation and flexibility, enhanced sleep quality, mental health support, and boosted immunity,
                    making it a valuable practice for overall physical and mental well-being.
                    A study published in the International Journal of Neuroscience found that massage therapy can lead
                    to decreased cortisol levels (a stress hormone) and increased levels of neurotransmitters associated
                    with lowering anxiety.

                    Massage therapy offers numerous physical benefits that Include :

                    Pain relief through the release of endorphins
                    Improved blood circulation
                    Stimulated lymphatic system
                    Enhanced immune function through the activation of the parasympathetic nervous system
                    Lower blood pressure
                    Injury prevention
                    Posture improvement and better body dynamics
                    Enhanced breathing
                    Rehabilitation


                </p>



                <h2>Test 2</h2>

                <p>Massage therapy offers numerous benefits, including stress relief, pain reduction, improved
                    circulation and flexibility, enhanced sleep quality, mental health support, and boosted immunity,
                    making it a valuable practice for overall physical and mental well-being.
                    A study published in the International Journal of Neuroscience found that massage therapy can lead
                    to decreased cortisol levels (a stress hormone) and increased levels of neurotransmitters associated
                    with lowering anxiety.

                    Massage therapy offers numerous physical benefits that Include :

                    Pain relief through the release of endorphins
                    Improved blood circulation
                    Stimulated lymphatic system
                    Enhanced immune function through the activation of the parasympathetic nervous system
                    Lower blood pressure
                    Injury prevention
                    Posture improvement and better body dynamics
                    Enhanced breathing
                    Rehabilitation
                <p style="color:#a9eaf3f6">

                </p>
                <pre>
                    <div class="gradient-overlay"></div>
                    Massage therapy offers numerous physical benefits that Include :

                    -Pain relief through the release of endorphins
                    -Improved blood circulation
                    Stimulated lymphatic system
                    Enhanced immune function through the activation of the parasympathetic nervous system
                    Lower blood pressure
                    Injury prevention
                    Posture improvement and better body dynamics 
                    Enhanced breathing
                    Rehabilitation
                </pre>
            </div>
</body>
<footer>
    <%- include('partials/footer.ejs') %>
</footer>

</html>

<html>




